#######################################
# common

*.wcfg

#######################################
# display

display/display*
!display/display*.tcl
!display/display*.xdc

display/SIM/sim_*
!display/SIM/sim_*.tcl

#######################################
# capture

capture/capture*
!capture/capture*.tcl
!capture/capture*.xdc

capture/SIM/sim_*
!capture/SIM/sim_*.tcl

#######################################