# common

*.wcfg

#######################################
# display

display/display*
!display/display*.tcl
!display/display*.xdc

display/SIM/sim_*
!display/SIM/sim_*.tcl

#######################################